/* SETTINGSSCREEN */

.screen-container {
    width: 100vw;
    height: 100vh;
}

.game-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.game-title {
    margin: 1rem auto;
    font-size: 2rem;
}

.game-image {
    display: block;
    margin: auto;
    width: 20%;
    height: auto;
}

.game-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
}

.floating-backbtn {
    position: fixed;
    display: inline-block;
    width: 1cm;
    height: 1cm;
    bottom: 10vh;
    left: 10vw;
    padding: .5rem;
    border-radius: 50%;
    background-color: rgb(83, 133, 133);
    overflow: hidden;
}

.floating-backbtn > img {
    width: 1cm;
    height: auto;
}

@media screen and (max-width: 768px) {
    .game-image {
        width: 50%;
        height: auto;
    }
}