/* TITLEBAR */

.titlebar {
    display: flex;
    width: 80vw;
    margin: 2rem auto;
    padding: .8rem 1rem;
    align-items: center;
    justify-content: space-around;
    background-color: #59594A;
    border-radius: 8px;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: capitalize;
}

.choices-value {
    color: greenyellow;
    font-size: 1.4rem;
    padding: 0 8px;
}